[tool.black]
line-length = 88
target-version = ['py312']
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
)/
'''

[tool.ruff]
# Règles activées : Pyflakes (F), pycodestyle (E, W), isort (I), bandit (S), flake8-simplify (SIM)
select = ["E", "F", "W", "I", "S", "SIM"]
ignore = ["E501"] # La longueur de ligne est gérée par Black
exclude = ["migrations"]

[tool.ruff.per-file-ignores]
"tests/*" = ["S101"] # Autorise 'assert' dans les tests

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "config.settings"
python_files = ["test_*.py", "*_test.py"]
addopts = "--cov=src --cov-report=html --cov-fail-under=80"
testpaths = ["tests"]

[tool.xenon]
max-absolute = "B"
max-modules = "A"
max-average = "A"
exclude = ["migrations/*", "tests/*"]